<?xml version="1.0" encoding="utf-8"?>
<!--NephroThai or Center-->
<!--database config-->
<configs>
  <location>2</location>
  <path>D:\41726-01\TRTSystem3.3.0.0\Database</path>
  <filename>1090TRTDatabase.mdb</filename>
  <centerid>1090</centerid>
  <centername>เจริญกรุง 2 คลีนิกเฉพาะทางด้านเวชกรรมอายุรศาสตร์โรคไต</centername>
</configs>